/*Slide Start幻灯片位置开始*/
#Slidebox {
	width: 100%;
	height: 600px;
	padding: 0px;
	margin: 0 auto; /*position:relative;*/
	background: #6b9a7a;
	overflow: hidden;
}

#flashBg {
	height: 600px;
	overflow: hidden;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

#flashLine {
	height: 600px;
	width: 100%;
	clear: both;
}

#flash {
	width: 100%;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
	clear: both;
	position: relative;
	padding: 0px 0px;
}

#flash a {
	width: 100%;
	height: 600px;
	display: none;
}

#flash img {
	width: 100%;
	height: 600px;
}

.flash_bar {
	width: 100%;
	z-index: 69;
	height: 48px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -60px;
	text-align: center;
}

.flash_bar .dq {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 2px 4px;
	cursor: pointer;
	background: url(../images/slides/pagination.png) no-repeat 0px -12px;
	overflow: hidden;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://vizo.retail20.cn/images/pagination.png",
		sizingMethod="crop" );
}

.flash_bar .no {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 2px 4px;
	cursor: pointer;
	background: url(../images/slides/pagination.png) no-repeat 0px 0px;
	overflow: hidden;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://vizo.retail20.cn/images/pagination.png",
		sizingMethod="crop" );
}